[user]
	email = diogoteles@google.com
	name = Diogo Teles Sant'Anna
	signingKey = ~/.ssh/id_ed25519.pub
[gpg]
	format = ssh
[commit]
	gpgsign = true
[tag]
	gpgsign = true
[push]
	autoSetupRemote = true
[pull]
	rebase = true
