# Sets command line key bindings to be vim-like o/
set editing-mode vi
set keymap vi

# Removes the annoying warning sound that palyed everytime you missclick something and type an invalid key on terminal
set bell-style none
